.intro {
  background: #7ad357;
  padding-top: 82px;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 992px) {
  .intro {
    background: -webkit-linear-gradient(top, #7ad357, #3b9c15);
    background: linear-gradient(to bottom, #7ad357, #3b9c15);
  }
}