<footer class="footer">
	<div class="container">
			<div class="footer__holder">
				<a href="/" class="footer__logo">
					<img src="assets/images/logo.svg" alt="Project">
				</a>
				<nav class="footer-nav">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="test.html">Test</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="test.html">Test</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="test.html">Test</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</nav>
				<div class="footer__contacts">
					<div class="footer__phone">+7 9123456789</div>
					<a href="mailto:project@mail.com">project@mail.com</a>
				</div>
			</div>
	</div>
</footer>
