<div class="ham-panel">
	<nav class="ham-panel-nav">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Services</a></li>
			<li class="active"><a href="test.html">Test</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</nav>
	<div class="ham-panel__info">
		<div class="ham-panel__phone">+7 9123456789</div>
		<a href="mailto:project@mail.com">project@mail.com</a>
	</div>
</div>