<header class="header header_sticky">
	<div class="container">
			<div class="header__holder">
				<a href="/" class="header__logo">
					<img src="assets/images/logo.svg" alt="Project">
				</a>
				<nav class="main-nav">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Services</a></li>
						<li class="active"><a href="test.html">Test</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</nav>
				<div class="header__info">
					<div class="header__phone">+7 9123456789</div>
					<a href="mailto:project@mail.com">project@mail.com</a>
				</div>
				<a href="#" class="ham-trigger"></a>
			</div>
	</div>
</header>

