<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="Author" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  {% block meta %}{% endblock %}
  <title>{% block title %}Title{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}"/>        
	<script>
		document.documentElement.classList.remove('no-js');
		document.documentElement.classList.add('js');

		if (document.documentElement.style.setProperty) {
			document.documentElement.style.setProperty('--viewport-height', window.innerHeight + 'px');
			document.documentElement.style.setProperty('--viewport-height-actual', window.innerHeight + 'px');
		}
	</script>
	<link rel="stylesheet" href="assets/stylesheets/global.css" />
	{% block stylesheets %}{% endblock %}
	{#

	{% set fontUrl = '' %}
	<link rel="dns-prefetch" href="https://fonts.googleapis.com">
	<link rel="dns-prefetch" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="preload" as="style" href="{{ fontUrl }}&display=swap" />
	<link rel="stylesheet" href="{{ fontUrl }}&display=swap" media="print" onload="this.media='all'" />
	<noscript><link rel="stylesheet" href="{{ fontUrl }}&display=swap" /></noscript>
	#}
</head>
<body>
	<div class="page-content-wrapper js-page-content-wrapper">
		{% block header %}
			{% include "../partials/header.twig" with { navigation: header.navigation } %}
		{% endblock %}
		{# .js-page-content is used for modal mobile fixes (see modal.js) and smooth scrolling #}
		{% include "../partials/ham-panel.twig" %}
		<div class="page-content js-page-content">
				<main>
					{% block body %}{% endblock %}
				</main>
				{% block footer %} 
					{% include "../partials/footer.twig" %}
				{% endblock %}
		</div>
		<div class="js-modal">
				{% block modal %}{% endblock %}
		</div>
	</div>
	
	{% block javascripts %}{% endblock %}

	{# <script src="assets/javascripts/svg4everybody.js"></script>#}
	{# <script>svg4everybody();</script> #}
</body>
</html>
